@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  justify-content: center;
}

#np{
  border-radius: 200px;
  width: 117px !important;
  height: 117px !important;
  right: unset !important;
}
.navbarCn{
  position: absolute;
  z-index: 2;
  bottom: 0;
  margin-bottom: 20px;
  left: 0;
}

.botonGroup{
  position: absolute;
  z-index: 2;
  bottom: 0;
  margin-bottom: 20px;
}

.boton{
  background-color: #03162e; 
  height: 60px;
  width: 60px;
  border-radius: 130px;
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flechas{
  background-color: #03162e; 
  height: 60px;
  width: 60px;
  border-radius: 130px;
  margin-top: 10px;
 
}
.imagenBoton{
  height: 55px;
  width: 55px;
  border-radius: 130px;
}